.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}
.infoContainer {
  margin-top: 3rem;
  font-size: 22px;
  width: 60%;
  line-height: 34px;
  letter-spacing: 2px;
  text-align: center;
}
.authContainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.loginButton {
  background-color: #3483df;
  width: 160px;
  height: 60px;
  color: white;
  font-size: 20px;
  border: none;
}

.logoutButton {
  background-color: rgb(245, 78, 78);
  width: 160px;
  height: 60px;
  color: white;
  font-size: 20px;
  border: none;
  align-self: center;
  margin-top: 1rem;
}
